.root {
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: width 300ms ease;
  background: linear-gradient(
    45deg,
    var(--mantine-color-blue-1) 0%,
    var(--mantine-color-white) 100%
  );
  /* border-right: rem(0.1) solid; */
  border-color: light-dark(var(--mantine-color-blue-4), var(--mantine-color-dark-3));

  &[data-collapsed='true'] {
    width: rem(217);
  }
}

.nav_link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: rem(10);
  width: 100%;
  padding: rem(10) rem(10);
  border-radius: rem(6);
  color: light-dark(var(--mantine-color-blue-8), var(--mantine-color-blue-5));
  text-decoration: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &[data-active='true'] {
    background-color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-2));
    color: light-dark(var(--mantine-color-white), var(--mantine-color-blue-9));
  }

  &[data-active='false']:hover {
    background-color: var(--mantine-color-blue-1);
    color: light-dark(var(--mantine-color-blue-8), var(--mantine-color-blue-9));
  }
}
