@layer mantine, mantine-datatable;

html,
body {
  min-height: 100vh;
}

#root {
  height: 100vh;
}

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
